@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Righteous&display=swap');

$base-size: 12px;

$font-title: 'Righteous', cursive;
$font-text: 'Rajdhani', sans-serif;

// COLORS
$black: #000000;
$white: #ffffff;

// HEADER SECTION
$header-bg-color-after-image: $black;
$header-title-color: $white;
