@import '../../../styles/settings.scss';

.root {
  max-width: $container-width;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

nav {
  a {
    text-decoration: none;
    color: $navLink-text-color;
  }
}
