@import '../../../styles/settings.scss';

.root {
  max-width: $container-width;
  margin: auto;

}

.postStatus {
  text-align: center;
  opacity: 0;
  transition: $transition;

  p {
    display: inline-block;
    width: 50vh;
    padding: 15px;
    font-size: $font-size;
    font-weight: 700;
    transition: $transition;
  }

  &.active {
    opacity: 1;

    p {
      background-color: $postCorrect-active-bg-color;
    }
  }

  &.disactive {
    opacity: 1;

    p {
      background-color: $postCorrect-disactive-bg-color;
    }
  }
}

form {
  text-align: center;
  input, label, select, textarea {
    display: block;
    margin: auto;
    font-size: $font-size;
    font-family: $font-text;
  }

  input, select {
    margin-bottom: 25px;
    height: 35px;
    width: 50vh;
    text-align: center;
    text-align-last: center;
  }

  textarea {
    margin-bottom: 25px;
    height: 90px;
    width: 50vh;
  }
}
